USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 5/4/2025 3:27:50 AM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER04\MSSQL\DATA\QLTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER04\MSSQL\DATA\QLTV_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDG] [nvarchar](10) NOT NULL,
	[TenDG] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](10) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Quyen] [nvarchar](20) NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoaiSach] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTraSach]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTraSach](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaDG] [nvarchar](10) NOT NULL,
	[MaSach] [nvarchar](10) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayTra] [date] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_MuonTraSach] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](10) NULL,
	[MatKhau] [nvarchar](10) NOT NULL,
	[Quyen] [nvarchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaXB] [nvarchar](10) NOT NULL,
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatSach]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatSach](
	[MaPhieuDat] [int] IDENTITY(1,1) NOT NULL,
	[MaDG] [nvarchar](10) NOT NULL,
	[MaSach] [nvarchar](10) NOT NULL,
	[NgayDat] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nvarchar](10) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[MaTacGia] [nvarchar](10) NOT NULL,
	[MaXB] [nvarchar](10) NOT NULL,
	[MaLoai] [nvarchar](10) NOT NULL,
	[SoTrang] [int] NOT NULL,
	[GiaBan] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 5/4/2025 3:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [nvarchar](10) NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDG], [TenDG], [GioiTinh], [DiaChi], [SoDienThoai], [MatKhau], [Quyen], [Email]) VALUES (N'dg1', N'Quỳnh Như', N'Nữ', N'TPHCM', N'0867573530', N'123', N'User', N'2254050047nhu@ou.edu.vn')
INSERT [dbo].[DocGia] ([MaDG], [TenDG], [GioiTinh], [DiaChi], [SoDienThoai], [MatKhau], [Quyen], [Email]) VALUES (N'dg2', N'Minh Thư', N'Nữ', N'Đồng Tháp', N'0345689987', N'123', N'User', N'2254050066thu@ou.edu.vn')
INSERT [dbo].[DocGia] ([MaDG], [TenDG], [GioiTinh], [DiaChi], [SoDienThoai], [MatKhau], [Quyen], [Email]) VALUES (N'dg3', N'Ngọc Hân', N'Nữ', N'Tây Ninh', N'0154632879', N'123', N'User', N'2254050014han@ou.edu.vn')
GO
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoaiSach], [GhiChu]) VALUES (N'loai1', N'Văn học', N'khong')
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoaiSach], [GhiChu]) VALUES (N'loai2', N'Khoa học công nghệ', N'khong')
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoaiSach], [GhiChu]) VALUES (N'loai3', N'Tâm lý', N'khong')
GO
SET IDENTITY_INSERT [dbo].[MuonTraSach] ON 

INSERT [dbo].[MuonTraSach] ([MaPhieuMuon], [MaDG], [MaSach], [NgayMuon], [NgayTra], [GhiChu], [TrangThai]) VALUES (1, N'dg2', N'sach1', CAST(N'2025-04-07' AS Date), CAST(N'2025-04-23' AS Date), N'moi', N'Đã trả')
INSERT [dbo].[MuonTraSach] ([MaPhieuMuon], [MaDG], [MaSach], [NgayMuon], [NgayTra], [GhiChu], [TrangThai]) VALUES (2, N'dg3', N'sach2', CAST(N'2025-04-07' AS Date), CAST(N'2025-04-30' AS Date), N'cu', N'Quá hạn')
INSERT [dbo].[MuonTraSach] ([MaPhieuMuon], [MaDG], [MaSach], [NgayMuon], [NgayTra], [GhiChu], [TrangThai]) VALUES (3, N'dg1', N'sach1', CAST(N'2025-04-07' AS Date), CAST(N'2025-04-16' AS Date), N'moi', N'Quá hạn')
SET IDENTITY_INSERT [dbo].[MuonTraSach] OFF
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [MatKhau], [Quyen]) VALUES (N'han', N'Ngọc Hân', N'0797449934', N'123', N'Admin')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [MatKhau], [Quyen]) VALUES (N'qnhu', N'Quỳnh Như', N'867573530', N'123', N'Admin')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [MatKhau], [Quyen]) VALUES (N'thu', N'Minh Thư', N'345311266', N'123', N'Admin')
GO
INSERT [dbo].[NhaXuatBan] ([MaXB], [NhaXuatBan], [GhiChu]) VALUES (N'nxb1', N'Nhà xuất bản Văn học', N'Không có')
INSERT [dbo].[NhaXuatBan] ([MaXB], [NhaXuatBan], [GhiChu]) VALUES (N'nxb2', N'Nhà xuất bản Khoa học và Kỹ thuật', N'Không có')
INSERT [dbo].[NhaXuatBan] ([MaXB], [NhaXuatBan], [GhiChu]) VALUES (N'nxb3', N'Nhà xuất bản Trẻ', N'Không có')
GO
SET IDENTITY_INSERT [dbo].[PhieuDatSach] ON 

INSERT [dbo].[PhieuDatSach] ([MaPhieuDat], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (1, N'dg1', N'sach5', CAST(N'2025-04-12' AS Date), N'Từ chối')
INSERT [dbo].[PhieuDatSach] ([MaPhieuDat], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (2, N'dg2', N'sach4', CAST(N'2025-04-12' AS Date), N'Từ chối')
INSERT [dbo].[PhieuDatSach] ([MaPhieuDat], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (3, N'dg3', N'sach4', CAST(N'2025-04-12' AS Date), N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[PhieuDatSach] OFF
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaXB], [MaLoai], [SoTrang], [GiaBan], [SoLuong]) VALUES (N'sach1', N'Lập trình cơ sở dữ liệu', N'tg2', N'nxb1', N'loai1', 100, 40000, 27)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaXB], [MaLoai], [SoTrang], [GiaBan], [SoLuong]) VALUES (N'sach2', N'Dự báo trong kinh doanh', N'tg1', N'nxb1', N'loai2', 60, 20000, 22)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaXB], [MaLoai], [SoTrang], [GiaBan], [SoLuong]) VALUES (N'sach3', N'Kiểm thử phân mềm', N'tg3', N'nxb4', N'loai3', 50, 10000, 49)
GO
INSERT [dbo].[TacGia] ([MaTacGia], [TacGia], [GhiChu]) VALUES (N'tg1', N'Huy Ca', N'khong')
INSERT [dbo].[TacGia] ([MaTacGia], [TacGia], [GhiChu]) VALUES (N'tg2', N'Hồng Ánh', N'khong')
INSERT [dbo].[TacGia] ([MaTacGia], [TacGia], [GhiChu]) VALUES (N'tg3', N'Hoàng Hải', N'khong')
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ('User') FOR [Quyen]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('Admin') FOR [Quyen]
GO
ALTER TABLE [dbo].[PhieuDatSach] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[MuonTraSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonTraSach_DocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[MuonTraSach] CHECK CONSTRAINT [FK_MuonTraSach_DocGia]
GO
ALTER TABLE [dbo].[MuonTraSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonTraSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[MuonTraSach] CHECK CONSTRAINT [FK_MuonTraSach_Sach]
GO
ALTER TABLE [dbo].[PhieuDatSach]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_DocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[PhieuDatSach] CHECK CONSTRAINT [FK_PhieuDat_DocGia]
GO
ALTER TABLE [dbo].[PhieuDatSach]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuDatSach] CHECK CONSTRAINT [FK_PhieuDat_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSach] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSach] ([MaLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([MaXB])
REFERENCES [dbo].[NhaXuatBan] ([MaXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
USE [master]
GO
